# Archivos compilados de Python
__pycache__/
*.pyc

# Base de datos (Ignorar para seguridad)
*.db
*.sqlite3

# Entornos virtuales
.venv/
venv/
env/

# Archivos de sistema (Mac) y Editor (VS Code)
.DS_Store
.vscode/
```